$bgColor: #FFF;
$bgColor1: #F4F4F5;
$textColor1: #3B3C4A;
$textColor2: #181A2A;
$textColor3: #A1A1AA;
$textColor4: #97989F;
$textColor5: #696A75;
$textColor6: #696A75;
$textColor7: #E8E8EA;

$blueColor: #4B6BFB;

$font-family1: Work Sans;
